/* begin bootply styles from http://www.bootply.com/87811 */

body {
  padding-top: 50px;
  overflow: hidden;
}

#wrapper {
  min-height: 100%;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0;
  display: inline-block;
}

#main-wrapper {
  height: 100%;
  overflow-y: auto;
  padding: 50px 0 0px 0;
}

#main {
  position: relative;
  /*height: 100%;*/
  height: 75%;
  overflow-y: auto;
  padding: 0 15px;
}

#sidebar-wrapper {
  height: 100%;
  padding: 50px 0 0px 0;
  position: fixed;
  border-right: 1px solid gray;
}

#sidebar {
  position: relative;
  height: 100%;
  overflow:hidden;
}

#sidebar .list-group-item {
    border-radius: 0;
    border-left: 0;
    border-right: 0;
    border-top: 0;
}

#sidebar .list-group-item-heading {
    border-radius: 0;
    border-left: 0;
    border-right: 0;
    border-top: 0;
}

@media (max-width: 992px) {
  body {
    padding-top: 0px;
  }
}

@media (min-width: 992px) {
  #main-wrapper {
    float:right;
  }
}

@media (max-width: 992px) {
  #main-wrapper {
    padding-top: 0px;
  }
}

@media (max-width: 992px) {
  #sidebar-wrapper {
    position: static;
    height:auto;
    max-height: 300px;
    border-right:0;
  }
}

.footer {
  bottom:0;
  position:fixed;
  padding:10px;
  height: 25%;
  background-color: #f8f8f8;
  border-top-color: #e7e7e7;
  border-width: 1px;
  border-top-style: solid;
}

/* end bootply styles from http://www.bootply.com/87811 */

textarea,
input[type="button"] {
  width: 100%;
  height: 100%;
}

form,
.container,
.footer .col-md-10,
.footer .col-md-1  {
  padding: 0;
  height: 100%;
}

#tableView {
  padding-top: 1.25em;
  padding-left: 0.25em;
}

#sidebar ul {
  height: 100%;
  padding: 0;
}
